@inherits LayoutComponentBase

@* Body avec mise en forme HTML *@
<main class="container">
    @Body
</main>

@* la ligne ci-dessous permet l'utilisation des Dialog, Notification, ContextMenu et Tooltip de Radzen *@
@* Il faut fixer la valeur du rendermode à la même valeur que dans le fichier App.razor *@

@* la ligne ci-dessous permet l'utilisation la barre de menu *@
<NavMenu />

<RadzenComponents @rendermode="InteractiveServer" />
<GestionBudgétaire.Data.Services.RadzenDialogEx />
@*<RadzenDialog />
<RadzenNotification />
<RadzenComponents />
*@

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<style>
    .container {
        padding-top: 10px;
        /* RD : Augmenter la valeur de vh pour ajuster la marge entre le menu et le body */
        margin: 10vh auto 1rem auto;
        width: 100%;
        max-width: 100%;
    }

    #blazor-error-ui {
        background: lightyellow;
        color: red;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 0.5rem;
        display: none;
    }

        #blazor-error-ui a {
            margin-left: 1rem;
        }
</style>