<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="GestionBudgétaire.styles.css" />
    <HeadOutlet @rendermode="InteractiveServer" />
     <!--
        JQ : La ligne ci-dessous ajoute le theme pour RadZen.
        l'attribut rendermode doit avoir la même valeur que pour l'application
        ligne juste au dessus.
        en .net8 choix possibles : InteractiveServer, InteractiveWebAssembly ou InteractiveAuto.
    -->
    <RadzenTheme Theme="material" @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
