@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@* JQ : Composant pour lister les rôle applicatifs de l'utilisateur *@

<div class="alert alert-info mt-3">
    <strong>Utilisateur :</strong> @user.Identity?.Name <br />
    <strong>Rôles :</strong> @string.Join(", ", user.Claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value))
</div>

@code {
    private ClaimsPrincipal user = new ClaimsPrincipal();

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;
    }
}

