@page "/sensible"
@using GestionBudgétaire.Shared
@using Radzen
@using Radzen.Blazor

<h3>🔒 Test Zone sensible</h3>

<RadzenRow Gap="1rem" RowGap="1rem" class="rz-m-0 rz-m-md-12">
    <RadzenColumn Size="12" SizeMD="3">
        <RadzenCard Variant="Variant.Flat" class="rz-background-color-info-lighter">
            <ConfirmAdPassword OnConfirmed="OnConfirmed">
                <h4>✅ Accès confirmé !</h4>
                <p>Voici le contenu de la page sensible.</p>
            </ConfirmAdPassword>
        </RadzenCard>
    </RadzenColumn>
</RadzenRow>

@code {
    private void OnConfirmed()
    {
        Console.WriteLine("Utilisateur re-confirmé !");
        // Tu peux loguer ou déclencher une action ici
    }
}

<!--<h3>DummyFile</h3>-->

@* @code {

}
*@
